.topbar {
    background-color: teal;
    height: 43px;
    width: 100%;
    text-align: center;
    font-size: 25px;
    border: dotted 4px white;
}
.link {
    cursor: grabbing;
    color: white;
    display: inline;
    padding-right: 30px;
}
h1 {
    text-align: center;
    color: hotpink;
    font-family:Georgia, 'Times New Roman', Times, serif
}
.container {
    text-align: center;
    font-style: oblique;
    background-color: hotpink;
    width: 100%;
}
.hover, .rotate, .translateX, .translateY, .threeD, .skew, .scale {
    width: 100px;
    line-height: 0;
    padding: 50px 0;
    margin: 50px auto;
    background-color: turquoise;
    color: black;
    border-radius: 50%;
    cursor: cell;
    /*properities you want to transition */
    transition-property: background-color, font-size, transform;
    /*how long you want the element to transition frequency */
    transition-duration: 2s;
    /*how long until the transition begins - cuando empieza */
    transition-delay: 2s;
    /*how you want elements to transition ease, ease in ease out */
    transition-timing-function: ease-out;
}

/*measured in deg */
.hover:hover {
    color: indigo;
    background-color: yellow;
}
/*measured in deg */
.rotate:hover {
    color: indigo;
    background-color: yellow;
    transform: rotate(360deg);
}
/*measured in deg */
.skew:hover {
    color: indigo;
    background-color: yellow;
    transform: skew(20deg);
}
/*measured in px*/
.translateX:hover {
    color: indigo;
    background-color: yellow;
    transform: translateX(30px);
}
/*measured in px*/
.translateY:hover {
    color: indigo;
    background-color: yellow;
    transform: translateY(50px);
}
/*measured with an integar or %*/
.scale:hover {
    color: indigo;
    background-color: yellow;
    transform: scale(50%);
}
/*measured with an inregars x y z axis and deg*/
.threeD:hover {
    color: indigo;
    background-color: yellow;
    transform: rotate3d(1, 1, 1, 360deg);
}
.dropbtn {
    background-color:pink;
    color: white;
    padding: 16px;
    font-size: 23px;
    border: none;
    box-shadow: 0px 8px 16px 0px purple;
  }
  .dropdown {
    position: relative;
    display: inline-block;
  }
  .dropdown-content {
    display: none;
    position: absolute;
    background-color: #f1f1f1;
    min-width: 160px;
  }
  .dropdown-content a {
    color: purple;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
  }
  .dropdown-content a:hover {background-color:lightskyblue;}
  .dropdown:hover .dropdown-content {display: block;}
  .dropdown:hover .dropbtn {background-color:hotpink;}


