body {
    background-image:url(images/light\ pink.jpg) ;
}
.topbar {
    background-color: teal;
    height: 50px;
    width: 100%;
    text-align: center;
    font-size: 25px;
    border: dotted 4px white;
    
}
.link {
    cursor: grabbing;
    color: white;
    display: inline;
    padding-right: 30px;
}

h1 {
    display: flex;
   align-items: center;
   justify-content: center;
    background: -webkit-linear-gradient(rgb(212, 140, 5), rgb(41, 23, 3));
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    height: 80px;
}

.row {
    display: flex;
    align-items: center;
  
}
.col-md-4 img {
    width: 280px;
    height: 230px;
    margin-left: auto;
    margin-right: auto;
    display: block;
   
   
}
.col-md-8 img{
    width: 100%;
    height: 230px;
    
}
.row-one {
    border: rgb(80, 44, 11) 5px dotted;
    display: flex;
    align-items: center;
    transition-duration: 2s;  
    
}
p {
   text-align: center;
    color: rgba(54, 39, 11, 0.89);
    font-weight: 400;
    background-color: rgb(255, 248, 252);
    transition-duration: 3s;
}
.animate__animated.animate__bounce {
    --animate-duration: 3s;
  }
  .animate__animated.animate__backInLeft {
    --animate-duration: 2s;
  }
  .animate__animated.animate__fadeInRight {
    --animate-duration: 2s;
  }
  .animate__animated.animate__zoomInUp {
    --animate-duration: 2s;
  }
  .scale:hover {
    transform: scale(130%);
    cursor: pointer;
}
.skew:hover {
    transform: skew(20deg);
    cursor: pointer;
}
.animate__animated.animate__rubberBand {
    --animate-duration: 2s;
  }

  .dropbtn {
    background-color:pink;
    color: white;
    padding: 16px;
    font-size: 23px;
    border: none;
    box-shadow: 0px 8px 16px 0px purple;
  }
  .dropdown {
    position: relative;
    display: inline-block;
  }
  .dropdown-content {
    display: none;
    position: absolute;
    background-color: #f1f1f1;
    min-width: 160px;
  }
  .dropdown-content a {
    color: purple;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
  }
  .dropdown-content a:hover {background-color:lightskyblue;}
  .dropdown:hover .dropdown-content {display: block;}
  .dropdown:hover .dropbtn {background-color:hotpink;}